@import "./partials/variable.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $color-primary;
    font-family: $font-primary;
};

.container{
    width: 65%;
    margin: 0 auto;
};

button{
    text-transform: uppercase;
    border: none;
    padding: 20px 40px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    color: $color-primary;
    cursor: pointer;
}